:root {
    // --primary: #4AA0E6;
    // --primary2: #ECA563;
    // --secondary: #7ED8B8;
    // --background: #F5F5F5;
    // --foreground: #FFFFFF;
    // --texto: #333333;
    // --acento: #FFB6C1;
    // --enfasis: #006400;
    // --enfasis2: #8C94D5;ECA563

    // --primary: #8D95D6;
    // --secondary: #EBA563;
    // --tertiary: #6F689E;
    // --quaternary: #767676;
    // --quinary: #FFFFFF;
    // --quinary: #F2F2F2;

    --primary: #8D95D6;
    --secondary: #EBA563;
    --accent: #6F689E;
    --text: #767676;
    --foreground: #FFFFFF;
    --background: #F2F2F2;
    --background-color: #f3f7f9;
}